/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.nav-toggle {
    display: none;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-menu li {
    margin-right: 1rem;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #ffc107; /* Change color on hover */
}

section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

section p, section ul {
    font-size: 1.2rem;
    line-height: 1.8;
}

.job, .project, .education, .certification, .skills {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #333;
        width: 100%;
        top: 4.5rem;
        left: 0;
        text-align: center;
        z-index: 1000;
        padding: 1rem 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.show {
        display: flex;
    }

    .nav-menu li {
        margin: 1rem 0;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
